/node_modules
/vendor
/.git
/.idea
/.vscode
/.env.*.local
/.env.local
/storage/app/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/public/hot
/public/storage
/docker-compose*.yml
/docker/volumes
/tests
/.gitattributes
/.gitignore
/.editorconfig
/README.md 